<nav class="admin-navbar">


    <div class="admin-logo">
        buyForever
    </div>



    <ul class="admin-nav-links">


        <li>
            <a href="/admin/dashboard">
                Dashboard
            </a>
        </li>


        <li>
            <a href="/admin/products">
                Products
            </a>
        </li>


        <li>
            <a href="/admin/orders">
                Orders
            </a>
        </li>


        <li>
            <a href="/admin/users">
                Users
            </a>
        </li>


        <li>
            <a href="/admin/banners">
                Banners
            </a>
        </li>


        <li>
            <a href="/admin/settings">
                Settings
            </a>
        </li>


        <li>
            <a href="/admin/logout" class="logout">
                Logout
            </a>
        </li>


    </ul>


</nav>