<footer class="footer">


    <!-- Left Section -->

    <div class="footer-brand">


        <h2>
            buyForever
        </h2>


        <p>
            Your destination for trendy fashion,
            premium collections and everyday style.
        </p>


        <div class="social-icons">

            <a href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>


            <a href="#">
                <i class="fa-brands fa-facebook"></i>
            </a>


            <a href="#">
                <i class="fa-brands fa-twitter"></i>
            </a>


            <a href="#">
                <i class="fa-brands fa-youtube"></i>
            </a>

        </div>


    </div>





    <!-- Middle Section -->

    <div class="footer-links">


        <h3>
            Quick Links
        </h3>


        <a href="/">
            Home
        </a>


        <a href="/collection">
            Collection
        </a>


        <a href="/about">
            About Us
        </a>


        <a href="/contact">
            Contact
        </a>


        <a href="/tnc">
            Terms & Conditions
        </a>


    </div>






    <!-- Right Section -->


    <div class="footer-contact">


        <h3>
            Contact Us
        </h3>


        <p>
            <i class="fa-solid fa-location-dot"></i>
            Mumbai, India
        </p>


        <p>
            <i class="fa-solid fa-envelope"></i>
            support@add2kart.com
        </p>


        <p>
            <i class="fa-solid fa-phone"></i>
            +91 98765 43210
        </p>


    </div>



</footer>



<div class="copyright">


    © 2026 buyForever. All Rights Reserved.


</div>