<nav class="navbar">

    <!-- Logo -->
    <div class="logo">
        <a href="/home">
            buyForever
        </a>
    </div>


    <!-- Hamburger Icon -->

    <div class="hamburger" id="hamburger">

        <i class="fa-solid fa-bars"></i>

    </div>



    <!-- Middle + Right Menu -->

    <div class="nav-menu" id="nav-menu">


        <!-- Close Button -->

        <div class="close-menu close" id="close">

            <i class="fa-solid fa-xmark"></i>

        </div>



        <!-- Middle Menu -->

        <ul class="nav-links">

            <li>
                <a href="/home">
                    Home
                </a>
            </li>


            <li>
                <a href="/collection">
                    Collection
                </a>
            </li>


            <li>
                <a href="/about">
                    About Us
                </a>
            </li>


            <li>
                <a href="/contact">
                    Contact
                </a>
            </li>

        </ul>



        <!-- Right Icons -->

        <div class="nav-icons">
            
            <a href="/wishlist">
                <i class="fa-solid fa-heart"></i>
            </a>
            
            <a href="/cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            
            <a href="/profile">
                <i class="fa-solid fa-user"></i>
            </a>

            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>

        </div>


    </div>


</nav>