

body{

font-family:Poppins,sans-serif;

background:#f7f7fb;

}



.orders-section{

padding:60px 8%;

}



.orders-section h1{

text-align:center;

font-size:40px;

margin-bottom:40px;


background:
linear-gradient(
90deg,
hsla(280,95%,57%,1),
hsla(193,90%,55%,1)
);


-webkit-background-clip:text;

color:transparent;

}




.orders-container{

display:flex;

flex-direction:column;

gap:25px;

}




.order-card{


background:white;

padding:30px;

border-radius:20px;


box-shadow:

0 10px 30px rgba(0,0,0,0.08);


}





.order-header{

display:flex;

justify-content:space-between;

align-items:center;


border-bottom:1px solid #eee;

padding-bottom:15px;


}





.order-header span{


padding:8px 18px;

border-radius:20px;


background:#e8fff0;

color:green;

font-weight:600;


}





.order-info{

margin-top:20px;

color:#555;

line-height:2;

}