@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600&display=swap');



.latest-section {

    padding: 1px 8%;

}

.hero-banner {
    margin-bottom: 27px;
}


.section-title {

    text-align: center;

    margin-bottom: 50px;

}



.section-title p {

    font-family: "Pacifico", cursive;

    font-size: 35px;

    color: #a52af7;

    margin-bottom: 10px;

}



.section-title h1 {

    font-family: "Poppins", sans-serif;

    font-size: 42px;

    margin-bottom: 10px;

    color: #222;

}



.section-title span {

    color: #777;

    font-size: 16px;

}






.products-container {

    display: grid;
    margin-bottom: 50px;

    grid-template-columns: repeat(4, 1fr);

    gap: 30px;

}





.product-card {

    background: white;

    border-radius: 20px;

    padding: 15px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

    transition: 0.3s;

}



.product-card:hover {

    transform: translateY(-8px);

}



.product-card img {

    width: 100%;

    height: 280px;

    object-fit: cover;

    border-radius: 15px;

}



.product-card h3 {

    margin-top: 15px;

    font-size: 18px;

    color: #333;

}



.product-card p {

    margin-top: 8px;

    font-size: 20px;

    font-weight: bold;

    color: #a52af7;

}




@media(max-width:900px) {

    .products-container {

        grid-template-columns: repeat(2, 1fr);

    }

}



@media(max-width:500px) {

    .products-container {

        grid-template-columns: 1fr;

    }

}

.line {
    border: 1px solid rgb(118, 113, 113);
    border-radius: 50%;
    width: 90%;
    margin: auto;
    top: 30px;

}

.features-section {
margin-top: -50px;
    
    padding: 60px 8%;

}



.features-container {

    display: grid;

    grid-template-columns: repeat(7, 1fr);

    gap: 20px;

}



.feature-card {

    background: white;

    padding: 25px 15px;

    text-align: center;

    border-radius: 18px;

    border-bottom: 4px solid #a52af7;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

    transition: 0.3s;

}



.feature-icon {

    width: 55px;

    height: 55px;

    margin: auto;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 50%;

    background: linear-gradient(90deg,
            rgb(183, 64, 243),
            hsla(193, 90%, 55%, 1));

    color: white;

    font-size: 24px;

    margin-bottom: 15px;
        cursor: pointer;


}



.feature-card p {

    font-size: 14px;

    font-weight: 600;

    color: #333;

    line-height: 1.4;

}






@media(max-width:1100px) {

    .features-container {

        grid-template-columns: repeat(4, 1fr);

    }

}



@media(max-width:700px) {

    .features-container {

        grid-template-columns: repeat(2, 1fr);

    }

}



@media(max-width:450px) {

    .features-container {

        grid-template-columns: 1fr;

    }

}

.feature-card p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    line-height: 1.4;
}

.products-container-font {
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.1px;
    font-weight: 600;
}

.subscribe-section{

    margin:60px 8%;

    padding:60px 20px;

    border-radius:25px;

    background:linear-gradient(
        90deg,
        hsla(280,95%,57%,1),
        hsla(193,90%,55%,1)
    );
    text-align:center;
}

.subscribe-content{
    color:white;
}

.brand-title{
    font-family:"Pacifico",cursive;
    font-size:45px;
    margin-bottom:15px;
    margin-top:15px;
}

.subscribe-content h1{
    font-family:"Playfair Display",serif;
    font-size:40px;
    margin-bottom:15px;
}

.subscribe-content span{
    font-family:"Montserrat",sans-serif;
    font-size:16px;
    display:block;
    max-width:600px;
    margin:auto;
    line-height:1.6;
}

.subscribe-form{
    margin-top:35px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.subscribe-form input{
    width:350px;
    height:50px;
    border:none;
    outline:none;
    padding:0 20px;
    font-size:15px;
    border-radius:8px 0 0 8px;
}

.subscribe-form button{
    height:50px;
    padding:0 35px;
    border:none;
    cursor:pointer;
    background:#222;
    color:white;
    font-size:15px;
    font-weight:600;
    border-radius:0 8px 8px 0;
    transition:.3s;
}

.subscribe-form button:hover{
    background:black;
}

@media(max-width:600px){
    .subscribe-form{
        flex-direction:column;
        gap:15px;
    }
    .subscribe-form input{
        width:90%;
        border-radius:8px;
    }
    .subscribe-form button{
        width:90%;
        border-radius:8px;
    }
}